body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    height: 50px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.loadButtons {
    display: flex;
    justify-content: space-evenly;
}
